POSTGRES_DB=ai_agent_platform
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=ai_agent_platform;Username=postgres;Password=postgres
